.colr,
.txthover:hover,
.ddsmoothmenu ul li ul li a:hover,
.ddsmoothmenu ul li ul li a.selected,
.theme-default .nivoSlider a,
#footer .heading,
.category-widget ul li a:hover,
.post-list li .desc h6 a:hover,
.post h2 a:hover,
.post-extras .tags a:hover,
.table-sec .table-cont li.c-name a:hover,
.any-caption h1 a,
.sudo-slider li .caption .capt-in a,
.tabs-widget .widgettitle,
.widget_categories ul li.cat-item a:hover,
.widget_archive ul li a:hover,
.gal-caption h3,
ul.timeline li:hover .desc-sec .text h3 a,
.event-location h2 {
	color: #ffc400 !important;
}

.backcolr,
#backcolr,
.ddsmoothmenu ul li ul,
.backcolrhover:hover,
.backcolrdark,
.ddsmoothmenu > ul > li > a:hover,
.ddsmoothmenu > ul > li.current-menu-item > a,
.ddsmoothmenu > ul > li > a.selected,
.pagination a:hover, .pagination a.active,
.post:hover .date-sec,
.filter-sec nav a:hover, .filter-sec nav a.active,
ul.timeline li:hover .desc-sec .date .date-in,
#wp-calendar thead,
.button, button, input[type="submit"],
input[type="reset"], input[type="button"],
.tagcloud a {
	background-color:#ffc400 !important;
}

.bordercolr,
.bordercolrover:hover,
.box,
.page_box,
blockquote .block,
.tabs-widget .tab_menu_container a {
	border-color:#ffc400 !important;
}